*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: NetteLight;
  src: url(../fonts/NetteGrotesk-Light.otf);
}

@font-face {
  font-family: NetteRegular;
  src: url(../fonts/NetteGrotesk-Regular.otf);
}

@font-face {
  font-family: NetteMedium;
  src: url(../fonts/NetteGrotesk-Medium.otf);
}

@font-face {
  font-family: NetteBlack;
  src: url(../fonts/NetteGrotesk-Black.otf);
}

body{
  font-family: NetteRegular;
}

p{
  width: clamp(90%, 15px, 75%);
  margin: auto;
}

.sub-headline{
  columns: 1 300px;
  font-size: clamp(12pt, 1.5vw, 16pt);
}

h1{
  min-height: 10vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px 0px;
  margin-top: 10vh;
}

.zeile{
    margin-bottom: 5vh;
}

@media screen and (min-width: 2500px) {

  .everything{
    margin-left: 500px;
    margin-right: 500px;
  }
}